<!DOCTYPE html>
<html lang="en">
  <head>
    {{- partial "header.html" . }}
  </head>

  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      
        {{ partial "logo.html" . }}

        {{ partial "docs-navbar.html" . }}

      </header>


    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">

          <form class="bd-search d-flex align-items-center">
            <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..."
              autocomplete="off">
            <button class="btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav"
              aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
              <svg class="" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false">
                <title>Menu</title>
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" />
              </svg>
          
            </button>
          </form>

          <nav class="collapse bd-links" id="bd-docs-nav">
            {{ block "localnav" . }}
            {{ end }}
          </nav>
        </div>

        {{/* 
        {% if page.toc %}
          <div class="d-none d-xl-block col-xl-2 bd-toc">
            {{ content | toc_only }}
          </div>
        {% endif %}
        */}}

          <div class="d-none d-xl-block col-xl-2 bd-toc">
            {{ block "sidetoc" . }}
              <ul class="section-nav">
                  <li class="toc-entry toc-h1"><a href="#heading1">Heading.1</a>
                    <ul>
                      <li class="toc-entry toc-h2"><a href="#heading1-1">Heading.1-1</a></li>
                      <li class="toc-entry toc-h2"><a href="#heading1-2">Heading.1-2</a></li>
                    </ul>
                  </li>
                  <li class="toc-entry toc-h1"><a href="#heading2">Heading.2</a>
                    <ul>
                      <li class="toc-entry toc-h2"><a href="#heading2-1">Heading.2-1</a>
                        <ul>
                          <li class="toc-entry toc-h3"><a href="#heading2-1-1">Heading.2-1-1</a></li>
                          <li class="toc-entry toc-h3"><a href="#heading2-1-2">Heading.2-1-2</a></li>
                        </ul>
                      </li>
                      <li class="toc-entry toc-h2"><a href="#heading2-2">Heading.2-2</a></li>
                    </ul>
                  </li>
                </ul>
            {{ end }}
          </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </main>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        {{ partial "footer.html" . }}
      </div>
    </footer>
  
    {{ partial "scripts.html" . }}
  </body>
</html>