{{ define "main" }}
<h1 class="bd-title" id="content">{{ .Title }}</h1>
{{/*<p class="bd-lead">{{ .Summary }}</p>*/}}
{{ .Content }}

{{ range .Pages }}
<article>
  <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
  {{ .Summary }}
</article>

{{ end }}

{{ end }}


{{ define "sidetoc" }}
  <!--empty-->
{{ end }}