    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
      {{ .Title -}}
    </title>

{{ partial "custom-header.html" . }}

    {{/* 
      
    {% include social.html %}

    */}}  
    <!-- Bootstrap core CSS -->
    {{/* 
    {% if site.github %}
      <link href="{{ .Site.BaseURL }}/dist/css/bootstrap-material-design.min.css" rel="stylesheet">
    {% else %}
    */}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.css" integrity="sha256-VvRziwu5ZvUuIyMMMt6y7mnwRXrsiV/qcZBGv+rGFnY=" crossorigin="anonymous">  
    {{/* 
    {% endif %}
    */}}  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Documentation extras -->
    {{/* 
    {% if page.layout == "docs" %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
    {% endif %}
    */}}  
    <link rel="stylesheet" href="{{ "/assets/css/docs.min.css" | relURL }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ "/sticky-footer.css" | relURL}}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href={{ "/apple-touch-icon.png" | relURL }}>
    <link rel="icon" href={{ "/favicon.ico" | relURL }}>
    