<script src={{ "/assets/js/vendor/split.min.js" | relURL }}>
</script>

<script>
  Split.setup({
    creativetim: function () {document.body.classList.add('creativetim')},
    mdbootstrap: function () {document.body.classList.add('mdbootstrap')},
    mdbootstrap2: function () {document.body.classList.add('mdbootstrap')},
  });
  {{/* 
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-80431047-1', 'auto');
  ga('send', 'pageview');
  */}}
</script>

  {{/* 
<script src="{{ site.cdn.jquery }}" integrity="{{ site.cdn.jquery_hash }}" crossorigin="anonymous"></script>
  */}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src={{ "/assets/js/vendor/jquery-slim.min.js" | relURL }}><\/script>')</script>

<script src={{ "/assets/js/vendor/popper.min.js" | relURL }}></script>
  {{/* 
<script src="{{ site.cdn.snackbar }}" crossorigin="anonymous"></script>
  */}}
  <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js" crossorigin="anonymous"></script>
  {{/* 
{% if site.github %}
  <script src={{ "/dist/js/bootstrap-material-design.min.js" | relURL }}></script>
{% else %}
  */}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha256-UaB/zjRbOG1NTgH7psWkKFAKosgLvIHy5djjOQ6Pex0=" crossorigin="anonymous"></script>
   {{/* 
{% endif %}
*/}}

  {{/* 
{% if site.github %}
  <script src={{ "/assets/js/docs.min.js" | relURL }}></script>
{% else %}
  <script src={{ "/assets/js/vendor/anchor.min.js" | relURL }}></script>
  <script src={{ "/assets/js/vendor/clipboard.min.js" | relURL }}></script>
  <script src={{ "/assets/js/vendor/holder.min.js" | relURL }}></script>
  <script src={{ "/assets/js/src/application.js" | relURL }}></script>
{% endif %}
*/}}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src={{ "/assets/js/ie10-viewport-bug-workaround.js" | relURL }}></script>
<script src={{ "/assets/js/ie-emulation-modes-warning.js" | relURL }}></script>

{{/*
{% if page.layout == "docs" %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
  var docsearch = docsearch({
    apiKey: 'b5c13bef25101d81f781cc15f4485a52',
    indexName: 'fezvrasta_bootstrap_material_design',
    inputSelector: '#search-input',
    handleSelected: function (input, event, suggestion) {
      var url = suggestion.url;
      url = suggestion.isLvl1 ? url.split('#')[0]: url;
      // If it's a title we remove the anchor so it does not jump.
      window.location.href = url;
    },
    transformData: function (hits) {
      return hits.map(function (hit) {
        console.log(hit.url);
        hit.url = hit.url.replace('https://fezvrasta.github.io/', '/');
        return hit;
      });
    },
    debug: false // Set debug to true if you want to inspect the dropdown
  });
</script>
{% endif %}
*/}}

<!--script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script-->