/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
  
.sidenav .list-group-item {
  padding: 0.4rem;
  color: rgba(0,0,0,.85);
}

.sidenav .list-group-item>a {
  color: rgba(0,0,0,.85);
}

.sidenav .list-group-item.active>a  {
  color: white;
}

.sidenav .subitem {
  font-size: 90%;
  padding-left: 0.8rem;
}

.sidenav .subitemclassifier {
  font-size: 75%;
  padding-left: 0.6rem;
  color: rgba(0,0,0,.60);
}

.sidenav .list-group-item.active .badge  {
  color: #3f51b5;
  background-color: white;
}
